

<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container wow fadeIn">

    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-8 mb-4">
     
        <!--Card-->
        <div class="card">
        <%= form_with(model: @order , url:'/orders', method: :post) do |f| %>
          <!--Card content-->
          <form class="card-body">
          <br>
            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--firstName-->
                <div class="md-form ">
                  <label for="firstName" class="">Name</label>
                  <%= f.text_field :name,  class: "form-control"%>
                  <div class="invalid-feedback">
                    Name is required.
                  </div>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--lastName-->
                <div class="md-form">
                  <label for="lastName" class="">Mobile no.</label>
                  <%= f.text_field :mobile,  class: "form-control"%>
                  <div class="invalid-feedback">
                    Mobile no. is required.
                  </div>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--address-->
            <div class="md-form mb-5">
              <label for="address" class="">Address</label>
              <%= f.text_field :mobile,  class: "form-control"%>
              <div class="invalid-feedback">
                Address is required.
              </div>
            </div>

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">

                <label for="zip">City</label>
                <%= f.text_field :city,  class: "form-control"%>
                <div class="invalid-feedback">
                  city is required.
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">

                <label for="zip">Pincode</label>
                <%= f.text_field :pincode,  class: "form-control"%>
                <div class="invalid-feedback">
                  pin code required.
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-5 col-md-6 mb-4">

                <label for="zip">State</label>
                <%= f.text_field :state,  class: "form-control"%>
                <div class="invalid-feedback">
                  state is required.
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            
            <hr class="mb-4">
            <div>
            <%= f.submit "Buy Now" , class: "btn btn-primary btn-lg btn-block"%>
            </div>
          </form>
          <%end%>
        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">3</span>
        </h4>

        <!-- Cart -->
        <ul class="list-group mb-3 z-depth-1">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
          </li>
          
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>
        <!-- Cart -->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->

