
                <%= form_with(model: product) do |f| %>
                  <% if product.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
                
                      <ul>
                        <% product.errors.each do |error| %>
                          <li><%= error.full_message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  
                  <form class="mx-1 mx-md-4">                                    
                    
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Product Name</label>
                        <%= f.text_field :product_name, autofocus: true, autocomplete: "product_name", class: "form-control"  %>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Description</label>
                        <%= f.text_field :description, autofocus: true, autocomplete: "description", class: "form-control"  %>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Price</label>
                        <%= f.text_field :price, autofocus: true, autocomplete: "price", class: "form-control"  %>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Quantity</label>
                        <%= f.number_field :quatity, autofocus: true, autocomplete: "quatity", class: "form-control"  %>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Weight</label>
                        <%= f.text_field :weight, autofocus: true, autocomplete: "", class: "form-control"  %>
                      </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">                    
                      <%= f.submit "Update" , class: "btn btn-primary btn-lg"%>
                    </div>

                  </form>
                <% end %>
     